<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381032391922-hg2uocpbhgh2hr8kimv4ue5ta41n7isn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381032391922-hg2uocpbhgh2hr8kimv4ue5ta41n7isn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>381032391922-2bjc2mjcnjicsdclafu6d62b77lo01bc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCogI9HwbEuodpNBjzpKy0iSTelPMnS3GY</string>
	<key>GCM_SENDER_ID</key>
	<string>381032391922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.voxo.voxo-ios</string>
	<key>PROJECT_ID</key>
	<string>voxo-5060</string>
	<key>STORAGE_BUCKET</key>
	<string>voxo-5060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381032391922:ios:bf2b57eac63d0128115c6b</string>
</dict>
</plist>